@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;
@use 'buttons' as *;
@use 'inputs' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: $font-main;
    color: $color-text;
    background-color: $color-bg;
}

.input-group {
    display: flex;
    gap: 10px;
    max-width: 354px;
}

.main-content-wrapper {
    padding: 75px 40px 0 40px;
    @include flex(column, flex-start);
    gap: 40px;
}