@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  @include flex-between;
  padding: 15px 40px 20px;
  background-color: $color-bg;
  border-bottom: 1px solid $color-border-light;

  &-left {
    @include flex(row, 16px);
    align-items: center;
  }

  &-logo {
    width: 40px;
    height: 40px;
  }

  &-title {
    @include text(24px, 600, $color-text);
    margin-bottom: 4px;
    line-height: 28px;
  }

  &-subtitle {
    @include text(12px, 400, $color-text-secondary);
  }

  &-divider {
    margin: 0 8px;
  }

  &-burger {
    display: block;
    position: relative;
    z-index: 100;

    @include desktop {
      display: none;
    }
  }

  &-logout {
    display: none;

    @include desktop {
      display: flex;
      @include flex-center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: $color-primary;
      color: $color-white;
      cursor: pointer;
    }
  }
}